# .env.example
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# PostgreSQL Connection
# Exemplo: postgresql://username:password@host:port/database_name
DATABASE_URL=postgresql://empresor_user:sua_senha_segura@localhost:5432/empresor_db

# JWT
JWT_SECRET=suaChaveSecretaMuitoForteParaJWT

# Outras variáveis
# EMAIL_HOST=
# EMAIL_PORT=
# EMAIL_USER=
# EMAIL_PASS=
